JWT_KEY=''
CLOUDINARY_URL=cloudinary://my_key:my_secret@my_cloud_name
EMAIL=''
EMAIL_PASSWORD=''
UNIQUE_DIGIT=''
DATABASE_URL_DEV=postgres://userName:password@serverName:port/databaseName
DATABASE_URL_TEST=postgres://userName:password@servername:port/databaseName
DATABASE_URL=''
